/* Segunda sección de la historia */
.story-section {
  min-height: 100vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  padding: 40px;

  background: #0b0b18;
  color: white;
}

.story-section h2 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.story-section p {
  font-size: 1.2rem;
  max-width: 600px;
  line-height: 1.6;
}