* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  background: radial-gradient(
    circle at top,
    #1b2747 0%,
    #090a0f 70%
  );

  font-family: system-ui, sans-serif;
}

/* Segunda sección de la historia */
.story-section {
  min-height: 100vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  padding: 40px;

  color: white;
}

.story-section h2 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.story-section p {
  font-size: 1.2rem;
}